<div class="rohan">
  
</div>
<div style="margin-top: -450px; margin-left: 20px;" class="wrapper" >
  <h2 class="h2">Executive Team</h2>
  <hr>
  <div class="members">
      <div class="team-mem">
          <img class="img" src="assets/client-1.jpg">
          <h4>Mrs.Nayan xyx Patil</h4>
          <p>Developer</p>
      </div>
      <div class="team-mem">
          <img class="img" src="assets/client-3.jpg">
          <h4>Mr. Patil</h4>
          <p>Developer</p>
      </div>
      <div class="team-mem">
          <img class="img" src="assets/client-2.jpg">
          <h4>Mr. Nayan Patil</h4>
          <p>Developer</p>
      </div>
  </div>
</div> 

<h2 class="span" style=" margin-top: -400px;"></h2>
<div style="width: 450px; margin-left: 810px; margin-top: 20px;" ><iframe width="100%" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe></div>

































<section class="section__container travellers__container">
  <h2 class="span" style="text-align: center; margin-top: 70px;">Top Events of the month</h2>
  <div class="travellers__grid">
    <div class="travellers__card">
      <img src="assets/traveller-1.jpg" alt="traveller" />
      <div class="travellers__card__content">
        <img style="margin-top: -50px;" src="assets/client-1.jpg" alt="client" />
       
        <h4>Emily Johnson</h4>
        <p>Dubai</p>
      </div>
    </div>
    <div class="travellers__card">
      <img src="assets/traveller-2.jpg" alt="traveller" />
      <div class="travellers__card__content">
        <img style="margin-top: -50px;" src="assets/client-2.jpg" alt="client" />
    
        <h4>David Smith</h4>
        <p>Paris</p>
      </div>
    </div>
    <div class="travellers__card">
      <img src="assets/traveller-3.jpg" alt="traveller" />
      <div class="travellers__card__content">
        <img style="margin-top: -50px;" src="assets/client-3.jpg" alt="client" />
      
        <h4>Olivia Brown</h4>
        <p>Singapore</p>
      </div>
    </div>
    <div class="travellers__card">
      <img src="assets/traveller-4.jpg" alt="traveller" />
      <div class="travellers__card__content">
        <img style="margin-top: -50px;" src="assets/client-4.jpg" alt="client" />
        
        <h4>Daniel Taylor</h4>
        <p>Malaysia</p>
      </div>
    </div>
  </div>
</section>

























<!--reviews start -->
<br>
<br>

<section class="team" id="team" style="margin-top: 70px;">
  <div class="heading">
    <h1>HAPPY COUSTUMERS</h1>
    <img src="/assets/images/header-img.png" alt="">
</div>
<br>
<div class="box-container">
<div >
  <div class="single-testimonial-box">
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c1.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>Tom Leakar</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
    </div>



        <div class="single-testimonial-box carousel-item" >
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c2.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>monirul islam</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
        <div class="single-testimonial-box">
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c3.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>Shohrab Hossain</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
        <div class="single-testimonial-box">
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c4.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>Tom Leakar</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
        <div class="single-testimonial-box">
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c1.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>Tom Leakar</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
        <div class="single-testimonial-box">
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c2.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>monirul islam</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
        <div class="single-testimonial-box">
        <div class="testimonial-description">
          <div class="testimonial-info">
            <div class="testimonial-img">
              <img src="assets/images/clients/c3.png" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
              <h2>Shohrab Hossain</h2>
              <h4>london, UK</h4>
              <div class="testimonial-person-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div><!--/.testimonial-person-->
          </div><!--/.testimonial-info-->
          <div class="testimonial-comment">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
            </p>
          </div><!--/.testimonial-comment-->
        </div><!--/.testimonial-description-->
      </div><!--/.single-testimonial-box-->
</div>
    </section>
<br>
<br>
<!-- team section starts  -->


































<section class="team" id="team" style="margin-top: 70px;">

  <div class="heading">
      <h1>OUR TOP CLIENTS </h1>
      <img src="/assets/images/header-img.png" alt="">
  </div>
<br>
  <div class="box-container">

      <div class="box">
          <img src="/assets/images/team-1.png" alt="">
          <h3>john deo</h3>
          <span>wedding planner</span>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nisi ea quisquam ipsa molestias itaque, quod quis id doloremque similique!</p>
          <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
          </div>
      </div>
      <div class="box">
          <img src="/assets/images/team-2.png" alt="">
          <h3>john deo</h3>
          <span>wedding planner</span>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nisi ea quisquam ipsa molestias itaque, quod quis id doloremque similique!</p>
          <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
          </div>
      </div>
      <div class="box">
          <img src="/assets/images/team-3.png" alt="">
          <h3>john deo</h3>
          <span>wedding planner</span>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nisi ea quisquam ipsa molestias itaque, quod quis id doloremque similique!</p>
          <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
          </div>
      </div>

  </div>

</section>

<!-- team section ends -->


