<div class="backk">
  <span class="gan" style="margin-left: 20px;">Wedding Venues</span> </div>



  <section class="call-buton"><a class="cc-calto-action-ripple" href="tel:123456787"><i class="fa fa-phone"></i><span class="num">+91.777777</span>
  </a>
  </section>

<!-- ----------------------------------------------------------GOA GOA GOA---------------------------------------  -->


<section class="venue" id="venue">
    <div class="venue-list">
        <div class="venue-box">
            <img src="assets/goa1.jpg" alt="img">
            <div class="venue-info">+
                <h2>Goa</h2>
                <p>Azaya Beach Resort, Goa</p>
            </div>
        </div>
    </div>
    <div>



<section class="section__container popular__container">
    <h2 class="span" style="text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);">GOA</h2>
   
   
   <!-- ----------------------------------------------------------11111111111---------------------------------------  -->
   
   
   
   
    <div class="popular__grid">
      <div class="popular__card">
        <img src="assets/hotel-1.jpg" alt="popular hotel" />
        <div class="popular__content">
          
        <h5 style="font-size:small;">400,00$</h5>
          <p>The white house venue </p>

           <h4> <a (click)=addBooking1() href="MB">Book Now</a> 
          </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>

       <!-- ----------------------------------------------------------22222222---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/hotel-2.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Sterling Goa varca </p>

          <h4> <a (click)=addBooking2() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------333333333---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/hotel-3.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Nanu resort</p>

          <h4> <a (click)=addBooking3() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------4444444444---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/hotel-4.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Seashell suits and villas </p>

          <h4> <a (click)=addBooking4() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------55555555---------------------------------------  -->


      <div class="popular__card">
        <img src="assets/hotel-5.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Marriott resort </p>

          <h4> <a (click)=addBooking5() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
          
        </div>
      </div>


 <!-- ----------------------------------------------------------666666666--------------------------------------  -->

      <div class="popular__card">
        <img src="assets/hotel-6.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Taj exotica resort</p>
           <h4> <a (click)=addBooking6() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
    </div>
  </section>

<!-- ----------------------------------------------------------Udaypurrrr--------------------------------------  -->
<section class="venue" id="venue">
    <div class="venue-list">
        <div class="venue-box">
            <img src="assets/udy.jpg" alt="img">
            <div class="venue-info">
                <h2>Udaipur</h2>
                <p>Udaipur, formerly the capital of the Mewar Kingdom</p>
            </div>
        </div>
    </div>
    <div>



<section class="section__container popular__container">
    <h2 class="span" style="text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);">Udaipur</h2>
   
   
   <!-- ----------------------------------------------------------11111111111---------------------------------------  -->
   
   
   
   
    <div class="popular__grid">
      <div class="popular__card">
        <img src="assets/u1.jpg" alt="popular hotel" />
        <div class="popular__content">
          
        <h5 style="font-size:small;">400,00$</h5>
          <p>Fourfox hotel      </p>

           <h4> <a (click)=addBooking7() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>

       <!-- ----------------------------------------------------------22222222---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/u2.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Shiv niwas palace </p>

          <h4> <a (click)=addBooking8() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------333333333---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/u3.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>The ananta</p>

          <h4> <a (click)=addBooking9() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------4444444444---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/u4.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Zana lake resort  </p>

          <h4> <a (click)=addBooking10() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------55555555---------------------------------------  -->


      <div class="popular__card">
        <img src="assets/u5.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Taj lake palace </p>

          <h4> <a (click)=addBooking11() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
          
        </div>
      </div>


 <!-- ----------------------------------------------------------666666666--------------------------------------  -->

      <div class="popular__card">
        <img src="assets/u6.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Trident</p>
           <h4> <a (click)=addBooking12() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------Jaipur--------------------------------------  -->
<section class="venue" id="venue">
    <div class="venue-list">
        <div class="venue-box">
            <img src="assets/ja.jpg" alt="img">
            <div class="venue-info">
                <h2>Jaipur</h2>
                <p>It is also known as the Paris of India</p>
            </div>
        </div>
    </div>
    <div>


<section class="section__container popular__container">
    <h2 class="span" style="text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);">Jaipur</h2>
   
   
   <!-- ----------------------------------------------------------11111111111---------------------------------------  -->
   
   
   
   
    <div class="popular__grid">
      <div class="popular__card">
        <img src="assets/j1.jpg" alt="popular hotel" />
        <div class="popular__content">
          
        <h5 style="font-size:small;">400,00$</h5>
          <p>Rambagh palace   </p>

           <h4> <a (click)=addBooking13() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>

       <!-- ----------------------------------------------------------22222222---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/j2.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Hathi mauja </p>

          <h4> <a (click)=addBooking14() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------333333333---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/j3.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Rajasthali resort  </p>

          <h4> <a (click)=addBooking15() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------4444444444---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/j4.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>The Raj palace</p>

          <h4> <a (click)=addBooking16() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------55555555---------------------------------------  -->


      <div class="popular__card">
        <img src="assets/j5.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p> Brij bageecha  </p>

          <h4> <a (click)=addBooking17() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
          
        </div>
      </div>


 <!-- ----------------------------------------------------------666666666--------------------------------------  -->

      <div class="popular__card">
        <img src="assets/j6.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>The fern habitat  </p>
           <h4> <a (click)=addBooking18() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
    </div>
  </section>

    <!-- ----------------------------------------------------------Mumbai--------------------------------------  -->
<section class="venue" id="venue">
    <div class="venue-list">
        <div class="venue-box">
            <img src="assets/mu.jpg" alt="img">
            <div class="venue-info">
                <h2>Mumbai</h2>
                <p>Mumbai is the capital city of the Indian</p>
            </div>
        </div>
    </div>
    <div>


<section class="section__container popular__container">
    <h2 class="span" style="text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);">Mumbai</h2>
   
   
   <!-- ----------------------------------------------------------11111111111---------------------------------------  -->
   
   
   
   
    <div class="popular__grid">
      <div class="popular__card">
        <img src="assets/m1.jpg" alt="popular hotel" />
        <div class="popular__content">
          
        <h5 style="font-size:small;">400,00$</h5>
          <p>JW marriot </p>

            <h4> <a (click)=addBooking19() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>

       <!-- ----------------------------------------------------------22222222---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/m2.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>The oberoi     </p>

           <h4> <a (click)=addBooking20() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------333333333---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/m3.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Hilton</p>

           <h4> <a (click)=addBooking21() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------4444444444---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/m4.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Aurous banquet hall  </p>

           <h4> <a (click)=addBooking22() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------55555555---------------------------------------  -->


      <div class="popular__card">
        <img src="assets/m5.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Taj lands end     </p>

           <h4> <a (click)=addBooking23() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
          
        </div>
      </div>


 <!-- ----------------------------------------------------------666666666--------------------------------------  -->

      <div class="popular__card">
        <img src="assets/m6.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Hotel sea princess  </p>
            <h4> <a (click)=addBooking24() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
    </div>
  </section>



      <!-- ---------------------------------------------------------- Jodhpur--------------------------------------  -->




<section class="venue" id="venue">
    <div class="venue-list">
        <div class="venue-box">
            <img src="assets/jo.jpg" alt="img">
            <div class="venue-info">
                <h2>Jodhpur</h2>
                <p>Jodhpur is a significant city of western Rajasthan </p>
            </div>
        </div>
    </div>
    <div>


<section class="section__container popular__container">
    <h2 class="span" style="text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);">Jodhpur</h2>
   
   
   <!-- ----------------------------------------------------------11111111111---------------------------------------  -->
   
   
   
   
    <div class="popular__grid">
      <div class="popular__card">
        <img src="assets/jo1.jpg" alt="popular hotel" />
        <div class="popular__content">
          
        <h5 style="font-size:small;">400,00$</h5>
          <p>Radisson hotel </p>

            <h4> <a (click)=addBooking25() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>

       <!-- ----------------------------------------------------------22222222---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/jo2.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Marugarh Resort     </p>

           <h4> <a (click)=addBooking26() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------333333333---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/jo3.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Umaid Bhawan Palace</p>

           <h4> <a (click)=addBooking27() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------4444444444---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/jo4.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Thar Oasis Resort & Camp   </p>

           <h4> <a (click)=addBooking28() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------55555555---------------------------------------  -->


      <div class="popular__card">
        <img src="assets/jo5.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Amritam palace   </p>

           <h4> <a (click)=addBooking29() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
          
        </div>
      </div>


 <!-- ----------------------------------------------------------666666666--------------------------------------  -->

      <div class="popular__card">
        <img src="assets/jo6.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>ITC Welcome Hotel     </p>
            <h4> <a (click)=addBooking30() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
    </div>
  </section>

      <!-- ----------------------------------------------------------AMhadabah--------------------------------------  -->

<section class="venue" id="venue">
    <div class="venue-list">
        <div class="venue-box">
            <img src="assets/Am.jpg" alt="img">
            <div class="venue-info">
                <h2>Ahmedabad</h2>
                <p>Ahmedabad, in western India, is the largest city</p>
            </div>
        </div>
    </div>
    <div>


<section class="section__container popular__container">
    <h2 class="span" style="text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);">Ahmedabad</h2>
   
   
   <!-- ----------------------------------------------------------11111111111---------------------------------------  -->
   
   
   
   
    <div class="popular__grid">
      <div class="popular__card">
        <img src="assets/am1.jpg" alt="popular hotel" />
        <div class="popular__content">
          
        <h5 style="font-size:small;">400,00$</h5>
          <p>Neonz resort and club</p>

            <h4> <a (click)=addBooking31() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>

       <!-- ----------------------------------------------------------22222222---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/am2.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Taj gandhinagar resort   </p>

           <h4> <a (click)=addBooking32() href="MB">Book Now</a> </h4>

          <span class="explore-rating">4.0</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------333333333---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/am3.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Bhanu the fern resort </p>

           <h4> <a (click)=addBooking33() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------4444444444---------------------------------------  -->



      <div class="popular__card">
        <img src="assets/am4.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>The fern seaside luxurious tent resort     </p>

           <h4> <a (click)=addBooking34() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
 <!-- ----------------------------------------------------------55555555---------------------------------------  -->


      <div class="popular__card">
        <img src="assets/am5.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Taj skyline    </p>

           <h4> <a (click)=addBooking35() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
          
        </div>
      </div>


 <!-- ----------------------------------------------------------666666666--------------------------------------  -->

      <div class="popular__card">
        <img src="assets/am6.jpg" alt="popular hotel" />
        <div class="popular__content">
            <h5 style="font-size:small;">400,00$</h5>
          <p>Hyatt regency   </p>
            <h4> <a (click)=addBooking36() href="MB">Book Now</a> </h4>
          <span class="explore-rating">4.5</span>
        </div>
      </div>
    </div>
  </section>