<div class="topnav">

	
  <ul>
   <div> <a style=" margin-left: 550px;" routerLink ="H">Home</a></div>
    <a routerLink ="E">Book Your Venues</a>
	<a routerLink="MB">My Booking</a>
    <a routerLink ="O">About Us</a>
    <a  (click)=login() routerLink ="L">Login</a> 
	<a *ngIf="this.llogin"(click)=logout() routerLink="{{llogin}}">Log Out</a>
  </ul>
  </div>


    <router-outlet></router-outlet>
    
    
		<!--footer start-->`
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="navbar-brand" href="index.html">Event<span>Manager</span></a>
				            </div><!--/.navbar-header-->
			           	</div>
			           	<div class="col-sm-9">
			           		<ul class="footer-menu-item">
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                    <li class=" scroll"><a href="#contact">my account</a></li>
			                </ul><!--/.nav -->
			           	</div>
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy;copyright. designed and developed by <a>Event Managers</a>
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +91 214 777 8888</i></span>
                <i class="fab fa-facebook-f"></i>
                <span></span>
                <!-- Twitter -->
                <i class="fab fa-twitter"></i>
                <span></span>
                <!-- Google -->
                <i class="fab fa-google"></i>
                <span></span>
                <!-- Instagram -->
                <i class="fab fa-instagram"></i>
                <span></span>
                <!-- Youtube -->
                <i class="fab fa-youtube"></i>
                
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-->
		<!--footer end-->