
<body>
    <!---------------------------Home--------------------->
    <main>
		<section>
			<h3 class="hh3">Welcome To India</h3>
			<h1 class="hh1">DO COME & VISIT <span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>
			<p class="pp">"India once is not enough"</p>
		</section>
	</main>

<!-- <--------------------------venue Section--------------> 
    <section class="venue" id="venue">

        <div style=" margin-left: 450px; margin-bottom: 20px; font-size:45px;" class="animate-charcter">VENUES</div>
        <div class="venue-list">
            <div class="venue-box">
                <img src="assets/img/venue-5.jpg" alt="img">
                <div class="venue-info">
                    <h2>Goa</h2>
                    <p>Azaya Beach Resort, Goa</p>
                    
                </div>
            </div>
            <div class="venue-box">
                <img src="assets/img/venue-2.jpg" alt="img">
                <div class="venue-info">
                    <h2>Jaipur</h2>
                    <p>The Raj Palace</p>
                    
                </div>
            </div>
            <div class="venue-box">
                <img src="assets/img/venue-3.jpg" alt="img">
                <div class="venue-info">
                    <h2>Udaipur</h2>
                    <p>Taj Aravalli Resort and Spa</p>
                    
                </div>
            </div>
            <div class="venue-box">
                <img src="assets/img/venue-4.jpg" alt="img">
                <div class="venue-info">
                    <h2>Thailand</h2>
                    <p>Prince Palace Hotel</p>
                    
                </div>
            </div>
            <div class="venue-box">
                <img src="assets/img/venue-5.jpg" alt="img">
                <div class="venue-info">
                    <h2>Mumbai</h2>
                    <p>Grand Banquet, Chembur</p>
                    
                </div>
            </div>
            <div class="venue-box">
                <img src="assets/img/venue-6.jpg" alt="img">
                <div class="venue-info">
                    <h2>Daman</h2>
                    <p>The Deltin,Daman</p>
                    
                </div>
            </div>
        </div>
    </section> 
    
    <!------------------E-invitation------------------>
     <section class="invite" id="invite">

        <div style=" margin-left: 380px; margin-bottom: 20px; font-size:45px;" class="animate-charcter">Card Design
             <p style="text-align: center;">Choose the best card Design.</p></div>
        <div class="invitation-row">
            <div class="invitation-box">
                <img src="assets/img/card-1.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-2.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-3.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-4.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-5.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-6.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-7.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-8.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-9.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-10.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-11.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="assets/img/card-12.jpg" alt="">
            </div>
        </div>
    </section> 
        
    <!--  ----------------------services------------------ -->
<section class="service" id="service">
    <div style=" margin-left: 450px; margin-bottom: 20px; font-size:45px;" class="animate-charcter"> SERVICE</div>
             
    <div class="services-row">
        <div class="services-col">
            <i class="fas fa-book-open"></i>
            <h2>invitation</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col">
            <i class="fas fa-camera"></i>
            <h2>Photography & Video</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col">
            <i class="fas fa-brush"></i>
            <h2>Beauty & Makeup</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col" style="background-image: url(/assets/img/card.jpeg);">
            <i class="fab fa-pagelines"></i>
            <h2>Wedding flowers</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col">
            <i class="fas fa-birthday-cake"></i>
            <h2>wedding cake</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col">
            <i class="fas fa-music"></i>
            <h2>music band</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col">
            <i class="fas fa-utensils"></i>
            <h2>Catering</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
        <div class="services-col">
            <i class="fas fa-ring"></i>
            <h2>Jewellery</h2>
            <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
        </div>
    </div>
</section>
<!-- <---------------------------vendor------------------->
<section class="vendor" id="vendor">
    <div style=" margin-left: 450px; margin-bottom: 20px; font-size:45px;" class="animate-charcter">FEATURED</div>
    <div class="vendor-list">
        <div class="vendor-row">
            <div class="rate">4.5&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <img src="assets/img/im1.jpg" alt="img">
            <h2>Beauty tales by komal rai</h2>
            <p>Bridal Makeup</p>
            
        </div>
        <div class="vendor-row">
            <div class="rate">4.2&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <img src="assets/img/im2.jpg" alt="img">
            <h2>Flinters Management</h2>
            <p>Wedding Planner</p>
           
        </div>
        <div class="vendor-row">
            <div class="rate">5.0&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <img src="assets/img/im3.jpg" alt="img">
            <h2>Wedding Mela</h2>
            <p>Wedding Decorators</p>
          
        </div>
        <div class="vendor-row">
            <div class="rate">4.1&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <img src="assets/img/im4.jpg" alt="img">
            <h2>SeventhHeaven Wedding Company</h2>
            <p>Wedding Decorators-Rental Only</p>
            
        </div>
        <div class="vendor-row">
            <div class="rate">4.3&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <img src="assets/img/im5.jpg" alt="img">
            <h2>Wedding Mela</h2>
            <p>Wedding Decorators</p>
            
        </div>
        <div class="vendor-row">
            <div class="rate">4.0&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <img src="assets/img/im6.jpg" alt="img">
            <h2>Wedding Mela</h2>
            <p>Wedding Decorators</p>
           
        </div>
    </div>
</section>


</body>

 